name: Publish Charts on tagging

on:
  push:
    tags: '*'

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Publish Helm charts
        uses: becitsthere/helm-gh-pages@master
        with:
          charts_dir: charts
          helm_version: 3.2.0
          token: ${{ secrets.HELM_PUBLISHER_TOKEN }}
